@model IEnumerable<NetCoreDapper.Models.Room>
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Rooms</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div></div>
<form asp-controller="Home" asp-action="Index" method="post">

    <div class="form-inline">

        <div class="form-group col-md-3">
            <label class="control-label">Name</label>
            <input name="Name" class="form-control " />
            <span class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">StartDate</label>
            <input type="date" name="StartDate" class="form-control " />
            <span class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">EndDate</label>
            <input type="date" name="EndDate" class="form-control " />
            <span class="text-danger"></span>
        </div>
        <div class="form-group  col-md-3">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
 
</form>
<div></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>